version: '3.8'

services:
  backend:
    build: ./backend
    container_name: timepieces_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/usr/src/app
    command: python manage.py runserver 0.0.0.0:8000
    networks:
      - timepieces_network

  frontend:
    build: ./frontend
    container_name: timepieces_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - timepieces_network
    environment:
      - VITE_API_URL=http://localhost:8000/api

networks:
  timepieces_network:
    driver: bridge